@font-face {
  font-family: 'fontello';
  font-style: normal;
  font-weight: 400;
  src: url('../font/fontello.eot?2128570');
  src: url('../font/fontello.eot?2128570#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?2128570') format('woff'),
       url('../font/fontello.ttf?2128570') format('truetype'),
       url('../font/fontello.svg?2128570#fontello') format('svg');

}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?2128570#fontello') format('svg');
  }
}
*/

[class^='icon-']:before,[class*=' icon-']:before,.left-arrow,.right-arrow,.dijitDialogCloseIcon,.esriGeocoderSearch,.esriGeocoderReset {
  font-family: 'fontello';
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-search-1:before { content: '\e800'; } /* '' */
.icon-gplus:before { content: '\e819'; } /* '' */
.icon-star:before { content: '\e811'; } /* '' */
.icon-menu-1:before { content: '\e810'; } /* '' */
.icon-check-1:before { content: '\e804'; } /* '' */
.icon-cancel-1:before { content: '\e80c'; } /* '' */
.icon-info-circled-1:before { content: '\e801'; } /* '' */
.icon-home-1:before { content: '\e808'; } /* '' */
.icon-bookmarks:before { content: '\e809'; } /* '' */
.icon-reply:before { content: '\e813'; } /* '' */
.icon-retweet:before { content: '\e80f'; } /* '' */
.icon-attention-1:before { content: '\e812'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\e805'; } /* '' */
.icon-share:before { content: '\e816'; } /* '' */
.icon-popup:before { content: '\e817'; } /* '' */
.icon-left-open-big:before { content: '\e80d'; } /* '' */
.icon-right-open-big:before { content: '\e80b'; } /* '' */
.icon-left-dir:before { content: '\e80a'; } /* '' */
.icon-right-dir-1:before { content: '\e807'; } /* '' */
.icon-target-1:before { content: '\e82f'; } /* '' */
.icon-list:before { content: '\e803'; } /* '' */
.icon-twitter-1:before { content: '\e818'; } /* '' */
.icon-facebook-squared-1:before { content: '\e80e'; } /* '' */
.icon-doc-text:before { content: '\e806'; } /* '' */
/***** Commented out becuase it interfers with bootstrap styles ****/
/*
.left-arrow:before { content: '\e80d'; }
.right-arrow:before { content: '\e80b'; }
.dijitDialogCloseIcon:before { content: '\e80c'; }
.esriGeocoderSearch:before { content: '\e800'; }
.esriGeocoderReset:before { content: '\e80c'; }
.HomeButtonCalcite .home:before { content: '\e808';}
.LocateButtonCalcite .zoomLocateButton:before {content: '\e82f';}
.map .calcite .titleButton.close:before {content: '\e80c';}
.map .calcite .titleButton.next:before {content: '\e807';}
.twitter-popup .action-reply:before {content:'\e813';}
.twitter-popup .action-retweet:before {content:'\e80f';}
.twitter-popup .action-favorite:before {content:'\e811';}
.map .calcite .titleButton.prev:before {content: '\e80a';}
.map .calcite .titleButton.maximize:before {content: '\e817';}
.map .calcite .titleButton.restore:before {content: '\e817';}
*/
