@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("Fonts/Lato Regular.woff2") format("woff2"),
    url("Fonts/Lato Regular.woff") format("woff"),
    url("Fonts/Lato Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("Fonts/Lato Bold.woff2") format("woff2"),
    url("Fonts/Lato Bold.woff") format("woff"),
    url("Fonts/Lato Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("Fonts/Roboto Regular V2.woff2") format("woff2"),
    url("Fonts/Roboto Regular V2.woff") format("woff"),
    url("Fonts/Roboto Regular V2.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("Fonts/Roboto Italic V2.woff2") format("woff2"),
    url("Fonts/Roboto Italic V2.woff") format("woff"),
    url("Fonts/Roboto Italic V2.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("Fonts/Roboto Bold V2.woff2") format("woff2"),
    url("Fonts/Roboto Bold V2.woff") format("woff"),
    url("Fonts/Roboto Bold V2.ttf") format("truetype");
}

@-webkit-keyframes a {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes a {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

*:focus {
  outline-color: transparent !important;
  outline-style: none !important;
}

html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html,
body,
#map {
  height: 100%;
  width: 100%;
  font-family: "Lato", Verdana, Geneva, -apple-system, BlinkMacSystemFont,
    sans-serif;
  margin: 0;
  padding: 0;
}

select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  outline: none;
  overflow: hidden;
  text-indent: 0.01px;
  text-overflow: "";
}

select::-ms-expand {
  display: none;
}

select[multiple="multiple"] {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  color: inherit;
}

select:not([multiple="multiple"]) > option {
  font-size: 0.875em;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f2f2;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.fill {
  height: 90%;
  overflow: hidden;
}

.sidenav {
  height: 100%;
  width: 31rem;
  background-color: #6d6e71;
  left: 0;
  overflow: hidden;
  padding-top: 5.5rem;
  position: fixed;
  top: 0;
  transition: 0.5s;
  z-index: 101;
}

.sidenav a {
  color: #eee;
  display: block;
  padding: 0.8rem 0.8rem 0.8rem 3.2rem;
  text-decoration: none;
  transition: 0.3s;
}

.sidenav a:hover,
.sidenav a:focus {
  color: #a7a9ac;
}

@media only screen and (max-height: 450px) {
  .sidenav {
    padding-top: 1.5rem;
  }
  .sidenav a {
    font-size: 1.8rem;
  }
}

.sideholderdiv {
  height: 90.85%;
  width: 30.9rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 0.4rem;
  position: absolute;
}

.sideNavDiv {
  color: #eee;
  display: block;
  padding: 0.8rem 0.8rem 0.8rem 0.2rem;
  text-decoration: none;
  transition: 0.3s;
}

.slider-wrapper {
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

.titlebar {
  position: absolute;
  display: inline-block;
  top: 0;
  width: 31rem;
}

.titleNav {
  height: 5rem;
  width: 25rem;
  background-color: #c4c6c8;
  box-sizing: border-box;
  color: #4fa2d9;
  display: inline-block;
  font-family: "Lato", Verdana, Geneva, -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 5rem;
  padding: 0;
  text-indent: 1.5rem;
  top: 0;
}

.closebtn,
.openbtn {
  background-color: #4fa2d9;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 3rem;
  line-height: 3rem;
  position: absolute;
  top: 0;
}

.closebtn {
  height: 5rem;
  width: 6rem;
  padding: 0.8rem 0 3.2rem;
}

.closebtn .fa-angle-double-left {
  margin-left: -1.6rem;
}

.closebtn .fa-angle-double-left:hover,
.closebtn .fa-angle-double-left:focus {
  color: #c4c6c8;
}

.openbtn {
  height: 5rem;
  width: 5rem;
  padding: 0.8rem 0.8rem 0.8rem 2.2rem;
  z-index: 100;
}

.openbtn .fa-angle-double-right {
  margin-left: -1.5rem;
}

.openbtn .fa-angle-double-right:hover,
.openbtn .fa-angle-double-right:focus {
  color: #c4c6c8;
}

#main {
  margin-left: 31rem;
  transition: margin-left 0.5s;
  height: 100%;
}

.clearall,
.clearall:link,
.clearall:visited {
  color: #4fa2d9 !important;
  font-family: "Roboto", "Helvetica Neue", HelveticaNeue, Helvetica-Neue,
    Helvetica, -apple-system, BlinkMacSystemFont, "BBAlpha Sans", "Segoe UI",
    Arial, "Noto Sans", sans-serif;
  font-weight: 700;
  text-align: center;
}

.clearall:link,
.clearall:visited {
  text-decoration: none !important;
}

.clearall:hover,
.clearall:focus {
  color: #2a3c68 !important;
  text-decoration: none !important;
}

.clearall:active {
  color: #1e2b4b !important;
  text-decoration: none !important;
}

.esriSimpleSlider {
  transition: 0.5s;
}

.esriSimpleSliderHomeButton {
  background: url("https://jsdev.arcgis.com/3.11/esri/dijit/images/home.png")
    center no-repeat padding-box rgba(102, 102, 102, 0.9);
  border-bottom: 1px solid #666;
}

.esriSimpleSliderHomeButton:hover,
.esriSimpleSliderHomeButton:focus {
  background-color: rgba(42, 60, 104, 0.8);
}

.esriSimpleSliderHomeButton:active {
  background-color: rgba(30, 43, 75, 0.8);
  box-shadow: inset 0 0 0.2rem #999999;
}

.btn-strtviewbtn,
.btn-bingbtn {
  height: 3rem;
  width: 3rem;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 1px solid #bcbec0;
  left: 33rem;
  position: absolute;
  text-align: center;
  transition: 0.5s;
  z-index: 50;
}

.btn-strtviewbtn {
  background-image: url("../img/icons/GoogleMapsIcon.png");
  top: 15.5rem;
}

.btn-strtviewbtn:hover,
.btn-strtviewbtn:focus {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 0.5rem #8e8c8f;
  transition: 0.1s;
}

.btn-strtviewbtn:active {
  background-image: url("../img/icons/GoogleMapsIcon.png");
  box-shadow: inset 0 0 0.5rem #4e4d4f;
}

.btn-bingbtn {
  background-image: url("../img/icons/BingIcon.png");
  top: 12rem;
}

.btn-bingbtn:hover,
.btn-bingbtn:focus {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 0.5rem #8e8c8f;
  transition: 0.1s;
}

.btn-bingbtn:active {
  background-image: url("../img/icons/BingIcon.png");
  box-shadow: inset 0 0 0.5rem #4e4d4f;
}

.print {
  height: 3rem;
  width: 3rem;
  background-color: #fff;
  border: 1px solid #bcbec0;
  left: 33rem;
  position: absolute;
  text-align: center;
  top: 15.5rem;
  transition: 0.5s;
  z-index: 50;
}

.print:hover,
.print:focus {
  box-shadow: inset 0 0 0.5rem #8e8c8f;
  transition: 0.1s;
}

.print:active {
  box-shadow: inset 0 0 0.5rem #4e4d4f;
}

.print .fa-file-download {
  color: #4fa2d9;
  font-size: 2.4rem;
  margin-left: -0.48rem;
  margin-top: -0.3rem;
}

.print .fa-file-download:hover,
.print .fa-file-download:focus {
  color: #2a3c68;
}

.printDiv {
  height: 21rem;
  width: 29rem;
  background-color: #d1d3d4;
  bottom: 50%;
  color: #4fa2d9;
  display: none;
  font-size: 1.6rem;
  font-weight: 700;
  left: 50%;
  margin: auto;
  min-height: 12.5rem;
  overflow-y: hidden;
  padding: 0.8rem 0.4rem 0.8rem 1.3rem;
  position: absolute;
  right: 50%;
  top: 50%;
  transition: all 0.5s cubic-bezier(0, 1, 0.5, 1);
  z-index: 102;
}

.print-title {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.closeprintbtn {
  cursor: pointer;
  text-align: right;
}

.basemap-group::before,
.basemap-group::after {
  content: "";
  display: table;
}

.basemap-group::after {
  clear: left;
}

.basemap-group .basemaps {
  filter: alpha(opacity=85);
  opacity: 0.85;
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #000;
  color: #343335;
  cursor: pointer;
  float: left;
  font-weight: 700;
  padding: 0.5rem 1.2rem;
}

.basemap-group .basemaps:hover {
  color: #f1f2f2;
  background-color: #2a3c68;
}

.basemap-group .basemaps:active {
  color: #f1f2f2;
  background-color: rgba(32, 45, 79, 0.95);
  box-shadow: inset 0.1rem 0.1rem 0.5rem rgba(79, 162, 217, 0.9);
}

.basemap-group .basemaps:not(:last-child) {
  border-right-width: 0;
}

@media only screen and (max-width: 849px) {
  .basemap-group .basemaps {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    float: none;
    width: 13.7rem;
  }
  .basemap-group .basemaps:not(:first-child) {
    border-top: 0;
  }
  .basemap-group .basemaps:not(:last-child) {
    border-right-width: 1px;
  }
}

.basemapbtns {
  display: inline-block;
  left: 37rem;
  position: absolute;
  top: 2rem;
  transition: 0.5s;
  z-index: 100;
}

.buttonTT {
  background-clip: padding-box;
  border-radius: 1.4rem;
  background-color: #fff;
  border: 2px solid #2a3c68;
  color: #2a3c68;
  cursor: pointer;
  font-family: "Lato", Verdana, Geneva, -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0.8rem 1.4rem;
  text-align: center;
  text-transform: uppercase;
}

.buttonTT:hover,
.buttonTT:focus {
  background-clip: border-box;
  background-color: #4fa2d9;
  border-color: #4fa2d9;
  color: #fff;
}

.buttonTT:active {
  background-clip: border-box;
  background-color: #2473a8;
  border-color: #2473a8;
  box-shadow: inset 0 0 0.5rem #a3ceeb;
  color: #fff;
}

.buttonTT:disabled {
  filter: alpha(opacity=80);
  opacity: 0.8;
  background-color: #7f8083;
  color: #2a3c68;
}

.buttonTT2 {
  background-clip: padding-box;
  border-radius: 2rem;
  background-color: #def3fd;
  border-radius: 2rem;
  border: 2px solid #4fa2d9;
  color: #4fa2d9;
  font-family: "Lato", Verdana, Geneva, -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0.8rem 1.6rem;
  text-align: center;
}

.buttonTT2:hover,
.buttonTT2:focus {
  background-clip: border-box;
  background-color: #4fa2d9;
  color: #fff;
}

.buttonTT2:active {
  background-color: #2c8bc9;
  border-color: #2c8bc9;
  box-shadow: inset 0 0 0.5rem #a3ceeb;
  color: #fff;
}

.buttonTT2:disabled {
  filter: alpha(opacity=80);
  opacity: 0.8;
  background-color: #def3fd;
  border-color: #64adde;
  color: #64adde;
}

.dropdown-menu {
  background-color: #fff;
  max-width: 29.5rem;
  width: 29.5rem;
}

.dropdown-menu .active {
  background-color: #2a3c68 !important;
  max-width: 29.5rem;
}

.dropdown-menu .active a {
  background-color: #2a3c68 !important;
}

.multiselect-container .active {
  background-color: #fff;
  max-width: 29.5rem;
}

.btn-default {
  background: url("../img/icons/FormIcon.png") right no-repeat padding-box
    #f1f2f2;
  border: 1px solid #bcbec0;
  border-radius: 1rem;
  color: #6d6e71;
  font-family: "Roboto", "Helvetica Neue", HelveticaNeue, Helvetica-Neue,
    Helvetica, -apple-system, BlinkMacSystemFont, "BBAlpha Sans", "Segoe UI",
    Arial, "Noto Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  overflow: hidden;
  padding: 0 3.2rem 0 1.2rem !important;
  text-align: left;
  text-overflow: ellipsis;
  text-overflow: "";
  width: 29.5rem;
}

.btn-default:link,
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  color: #6d6e71;
}

.btn-default .caret {
  height: 0;
  width: 0;
  border-bottom: 0 dotted;
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-top: 0.4rem solid #fff !important;
  display: inline-block;
  margin-right: 0.2rem;
  vertical-align: middle;
}

.btn-default-2 {
  height: 3rem;
  width: 29.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../img/icons/ExpandMenuIcon.png") right no-repeat padding-box
    #f1f2f2;
  border-radius: 1rem;
  border: 1px solid #bcbec0;
  box-sizing: border-box;
  color: #6d6e71;
  font-family: "Roboto", "Helvetica Neue", HelveticaNeue, Helvetica-Neue,
    Helvetica, -apple-system, BlinkMacSystemFont, "BBAlpha Sans", "Segoe UI",
    Arial, "Noto Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 1.2rem;
  overflow: hidden;
  padding: 0 3.2rem 0 1.2rem !important;
  text-align: left;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  text-overflow: "";
}

.btn-default-2:link,
.btn-default-2:hover,
.btn-default-2:focus,
.btn-default-2:active {
  color: #6d6e71;
}

.btn-default-2-close {
  height: 3rem;
  width: 29.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../img/icons/HideMenuIcon.png") right no-repeat padding-box
    #f1f2f2;
  border-radius: 1rem;
  border: 1px solid #bcbec0;
  color: #6d6e71;
  font-family: "Roboto", "Helvetica Neue", HelveticaNeue, Helvetica-Neue,
    Helvetica, -apple-system, BlinkMacSystemFont, "BBAlpha Sans", "Segoe UI",
    Arial, "Noto Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 1.2rem;
  overflow: hidden;
  padding: 0 3.2rem 0 1.2rem !important;
  text-align: left;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  text-overflow: "";
}

.btn-default-2-close:link,
.btn-default-2-close:hover,
.btn-default-2-close:focus,
.btn-default-2-close:active {
  color: #6d6e71;
}

.btn-default-3 {
  height: 3rem;
  width: 29.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 1rem;
  border: 1px solid #bcbec0 !important;
  color: #6d6e71;
  font-family: "Roboto", "Helvetica Neue", HelveticaNeue, Helvetica-Neue,
    Helvetica, -apple-system, BlinkMacSystemFont, "BBAlpha Sans", "Segoe UI",
    Arial, "Noto Sans", sans-serif !important;
  font-size: 1.8rem;
  margin-top: 1.2rem;
  overflow: hidden;
  text-align: left;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  text-overflow: "";
}

.btn-default-3:link,
.btn-default-3:hover,
.btn-default-3:focus,
.btn-default-3:active {
  color: #6d6e71;
}

.select {
  height: 3rem;
  width: 23rem;
  background-clip: padding-box;
  background-color: #f1f2f2;
  background-position: right;
  border-radius: 1.7rem;
  border: 1px solid #bcbec0;
  box-sizing: border-box;
  color: #6d6e71;
  display: inline-block;
  font-family: "Roboto", "Helvetica Neue", HelveticaNeue, Helvetica-Neue,
    Helvetica, -apple-system, BlinkMacSystemFont, "BBAlpha Sans", "Segoe UI",
    Arial, "Noto Sans", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  margin-left: 0;
  margin-top: 1.5rem;
  position: relative;
  text-align: left;
}

.button_Icons {
  color: #fff;
}

.button_Icons2 {
  color: #2a3c68;
}

.slider {
  -webkit-appearance: none;
  border: 1px solid #fff;
  width: 20rem;
}

.slider::-webkit-slider-runnable-track {
  background-clip: padding-box;
  border-radius: 3px;
  height: 2px;
  width: 200px;
  background-color: #ddd;
  border: 0;
}

.slider::-webkit-slider-thumb {
  background-clip: padding-box;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  background-color: #2a3c68;
  border: 0;
  cursor: pointer;
  margin-top: -7px;
}

.slider::-moz-range-track {
  background-clip: padding-box;
  border-radius: 3px;
  height: 5px;
  width: 200px;
  background-color: #ddd;
  border: 0;
}

.slider::-moz-range-thumb {
  background-clip: padding-box;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  background-color: #2a3c68;
  border: 0;
  cursor: pointer;
}

.slider::-ms-track {
  height: 5px;
  width: 200px;
  background-color: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
}

.slider::-ms-fill-lower {
  background-clip: padding-box;
  border-radius: 10px;
  background-color: #777;
}

.slider::-ms-fill-upper {
  background-clip: padding-box;
  border-radius: 10px;
  background-color: #ddd;
}

.slider::-ms-thumb {
  background-clip: padding-box;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  border: 0;
  background: #2a3c68;
  cursor: pointer;
}

.slider::-ms-tooltip {
  display: none;
}

.slider:-moz-focusring {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.slider:focus::-webkit-slider-runnable-track {
  background-color: #c4c6c8;
}

.slider:focus::-ms-fill-lower {
  background-color: #888;
}

.slider:focus::-ms-fill-upper {
  background-color: #c4c6c8;
}

.slider:disabled::-webkit-slider-thumb,
.slider:disabled::-moz-range-thumb,
.slider:disabled::-ms-thumb {
  background-clip: padding-box;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: #cfc;
  cursor: pointer;
}

.slider:disabled::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.legend {
  color: #6d6e71;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 0.5rem !important;
}

.legendDiv {
  background-color: #d1d3d4;
  bottom: 0;
  color: #4fa2d9;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  max-height: 51rem;
  min-height: 12.5rem;
  overflow-y: hidden;
  padding: 0.8rem 0.4rem 0.8rem 1.3rem;
  position: absolute;
  transition: all 0.5s cubic-bezier(0, 1, 0.5, 1);
  width: 29rem;
  z-index: 102;
}

#legendDynamicLayers {
  color: #6d6e71;
  font-weight: 400;
  line-height: 1.5rem !important;
}

#legendLayers {
  color: #6d6e71;
}

.legBody {
  background-clip: padding-box;
  border-radius: 1rem;
  background-color: #fff;
  height: 100%;
}

.legBody select {
  height: 3rem;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../img/icons/FormIcon.png") right no-repeat padding-box #fff;
  border: 1px solid #bcbec0;
  border-radius: 1rem;
  color: #414042;
  display: block;
  line-height: 3rem;
  margin-top: 0.5rem;
  max-width: 32rem;
  padding-left: 1rem;
  padding-right: 3.2rem;
  text-align: left;
  word-break: normal;
}

.closed {
  max-height: 3.2rem;
  min-height: 3.2rem;
}

.open {
  max-height: 51rem;
}

.leg_title {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.leg_titlebar {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.leg_closebtn {
  width: 2rem;
}

.leg_closebtn .fas {
  color: #4fa2d9;
}

.leg_closebtn .fas:hover {
  color: #2a3c68;
}

.leg_closebtn .fas:active {
  color: #4fa2d9;
}

.visLayersDiv {
  background-color: #fff;
  border: 1px solid #bcbec0;
  color: #6d6e71;
  font-family: "Roboto", "Helvetica Neue", HelveticaNeue, Helvetica-Neue,
    Helvetica, -apple-system, BlinkMacSystemFont, "BBAlpha Sans", "Segoe UI",
    Arial, "Noto Sans", sans-serif;
  font-weight: 700;
  padding: 0.4rem;
  text-align: center;
}

.vislayerlist {
  text-align: left;
}

.section-title {
  font-size: 1.4rem;
}

.optionsDiv {
  background-clip: padding-box;
  border-radius: 0 0 1rem 1rem;
  background-color: #fff;
  border: 1px solid #bcbec0;
  color: #6d6e71;
  display: none;
  font-family: "Roboto", "Helvetica Neue", HelveticaNeue, Helvetica-Neue,
    Helvetica, -apple-system, BlinkMacSystemFont, "BBAlpha Sans", "Segoe UI",
    Arial, "Noto Sans", sans-serif;
  margin-left: 0.7rem;
  padding: 0.2rem 0.2rem 0.2rem 1rem;
  width: 28.1rem;
}

.optionsDiv label {
  font-weight: 400;
}

.optionsDiv.advancedLayersDiv {
  padding: 0.2rem 0.5rem;
}

#tvDIV,
#radioDIV {
  background-color: #fff;
  display: none;
  font-family: "Roboto", "Helvetica Neue", HelveticaNeue, Helvetica-Neue,
    Helvetica, -apple-system, BlinkMacSystemFont, "BBAlpha Sans", "Segoe UI",
    Arial, "Noto Sans", sans-serif;
  padding: 0.4rem;
}

#tvCoverageBtn {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

#radioDIV {
  height: 100%;
}

#loading {
  bottom: 50%;
  left: 50%;
  margin: auto;
  position: absolute;
  right: 50%;
  top: 50%;
  z-index: 100;
}

.blurInfo {
  background-clip: padding-box;
  border-radius: 2rem;
  background-color: #fff;
  border: 2px solid #57585a;
  color: #4c4c4c;
  display: none;
  font-family: "Courier New", monospace;
  font-size: 1.25em;
  padding: 1rem;
  position: absolute;
  right: 0.5rem;
  top: 1rem;
  width: 24rem;
  z-index: 103;
}

.blurInfo p span {
  background-clip: padding-box;
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 0 0.5rem;
}

.blurInfo input[type="range"] {
  display: block;
  width: 100%;
}

.swal-overlay {
  background: rgba(79, 162, 217, 0.35);
}

.swal-modal {
  border: 2px solid #bcbec0;
  border-radius: 15px;
}

.swal-title {
  font: 700 2rem Lato, "Open Sans", "Lucida Grande", "Lucida Sans Unicode",
    Tahoma, Verdana, sans-serif;
}

.swal-text {
  text-align: justify;
}

.swal-button {
  background-color: #4fa2d9;
  box-shadow: 1px 5px 5px #6d6e71;
  color: #fff;
  font: 700 1rem Lato, "Open Sans", "Lucida Grande", "Lucida Sans Unicode",
    Tahoma, Verdana, sans-serif;
  position: relative;
  transition: all 0.8s, color 1.1s, box-shadow 50ms linear;
}

.swal-button:active {
  background-color: #233257;
  box-shadow: inset 0 0 5px #6a7795, 1px 1px 3px 1px #6d6e71;
  top: 2px;
}

.swal-button:not([disabled]):hover {
  background-color: #2a3c68;
}

.ui-dialog {
  background-color: #f1f2f2;
  border: 2px solid #2a3c68;
  border-radius: 6px;
  margin-left: 40em;
  height: 41em !important;
  width: 44em !important;
  display: flex;
  flex-direction: column;
}

.sf-definition {
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-top: 0.3em;
}

.ui-dialog-titlebar {
  display: flex;
  justify-content: space-between;
  padding: 0.375em 0 0.3em 0.375em;
  background-color: #c0c0c0;
}

.ui-dialog-title {
  font-size: 16px;
  font-family: Roboto, Arial;
  color: rgb(51, 51, 51);
}
.ui-dialog-titlebar > a {
  text-decoration: none;
}

.ui-icon-closethick {
  color: black;
  margin-right: 0.3em;
  text-decoration: none;
}

.ui-dialog-content {
  margin: 0 0 0.8em 0;
}

.shapeFilesForm {
  width: 37.5em;
  height: 29.875em;
  border: 2px solid #bcbec0;
  border-radius: 15px;
  background-color: white;
  margin-left: 2.8em;
  color: #6d6e71;
  overflow-x: hidden;
  overflow-y: auto;
}

.sf-form-container {
  margin: 0.938em 1.563em 0 1.563em;
  line-height: 19.2px;
  font-size: 15px;
}

.form-title {
  color: #4fa2d9;
  font-style: 24px;
  font-weight: 700;
}

.sf-form-info {
  font-size: 16.3px;
  font-weight: 500;
  line-height: 16.8px;
  padding: 0.2em 0;
}

.selectedCenters {
  font-size: 16px;
}

.selectedCompetitors {
  font-size: 16px;
}

.selected-text {
  list-style-type: none;
  font-weight: 900;
  margin: 0.3em;
  font-size: 14px;
}

.sf-email-container {
  margin-left: 1.563em;
  margin-top: 2em;
}

.sf-form-email {
  display: block;
  width: 95%;
  height: 2.5em;
  border-radius: 10px;
}

.sf-form-email:focus {
  border: 2px solid #4fa2d9;
}

#email-error {
  color: red;
}

.sf-form-submit {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  color: rgb(109, 110, 113);
  font-weight: 500;
  font-stretch: 100%;
  font-size: 17px;
  border-color: #4fa2d9;
  border-radius: 10px;
  background-color: rgb(241, 242, 242);
  height: 31px;
}

.sf-form-submit:hover,
.sf-form-submit:focus {
  background-clip: border-box;
  background-color: #4fa2d9;
  color: #fff;
}

.sf-dialog-btn {
  color: rgb(109, 110, 113);
  margin-top: 0.4em;
  margin-left: 5.8em;
  font-weight: 500;
  font-stretch: 100%;
  font-size: 17px;
  border-color: #4fa2d9;
  border-radius: 10px;
  background-color: rgb(241, 242, 242);
  height: 31px;
}

.sf-dialog-btn:hover,
.sf-dialog-btn:focus {
  background-clip: border-box;
  background-color: #4fa2d9;
  color: #fff;
}

.form-submitted {
  color: #4fa2d9;
  margin: 0.7em 2em 0 2em;
  font-size: 14.1px;
  display: none;
  visibility: hidden;
}

#zipCodeChk {
  margin-right: 0.2em;
}

#toggID_zipCodeChk {
  margin-right: 0.2em;
}

#shopperOrigin {
  margin-right: 0.2em;
}

#toggID_shopperOrigin {
  margin-right: 0.2em;
}

#competitorOverlayChk {
  margin-right: 0.2em;
}

#toggID_competitorOverlayChk {
  margin-right: 0.2em;
}

#heatmapChk {
  margin-right: 0.2em;
}

#toggID_heatmapChk {
  margin-right: 0.2em;
}

/*# sourceMappingURL=main.css.map */
