.TableOfContents {
  width: 100%;
}

.TableOfContents .esriLegendLayer {
  padding: 0;
  margin: 0 0 5px;
}

.TableOfContents .esriLegendLayerLabel {
  margin: 0;
  padding: 0;
}

.TableOfContents .esriLegendService {
  padding: 0;
}

.TableOfContents .esriLegendServiceLabel {
  display: none;
}

.TableOfContents .toc-title {
  border-bottom: 1px solid #E0E0E0;
  cursor: pointer;
  font-size: 16px;
  line-height: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.TableOfContents .toc-title-container {
  border-left: 5px solid #CCC;
  background: #F8F8F8;
  color: #555;
  position: relative;
}

.TableOfContents .toc-first-layer .toc-title {
  border-top: 1px solid #E0E0E0;
}

.TableOfContents .toc-content {
  background-color: #DFDFDF;
  box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.25);
  color: #333;
  max-height: 0;
  overflow: auto;
  position: relative;
  transition: max-height .25s ease;
}

.TableOfContents .toc-expanded .toc-title {
  border-bottom: 0;
}

.TableOfContents .toc-expanded .toc-title-container {
  border-left: 5px solid #007AC2;
  color: #007AC2;
  font-weight: 700;
}

.TableOfContents .toc-expanded .toc-content {
  border-bottom: 1px solid #D4D4D4;
  border-top: 1px solid #D4D4D4;
  max-height: 300px;
}

.TableOfContents .toc-text,
.TableOfContents .toc-sublayer-text {
  display: inline-block;
  padding: 12px 0;
  margin: 0;
  text-overflow: ellipsis;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  line-height: 16px;
  height: 16px;
  border: 1px solid transparent;
  vertical-align: middle;
}

.TableOfContents .toc-sublayer-text {
  padding: 3px 0;
  width: 210px;
}

.TableOfContents .toc-checkbox,
.TableOfContents .toc-sublayer-checkbox {
  background-color: #FFF;
  border: 1px solid #BABABA;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  margin: 12px 8px;
  vertical-align: middle;
  width: 16px;
}

.TableOfContents .toc-sublayer-checkbox {
  margin: 3px 8px 3px 0;
}

.TableOfContents .toc-sublayer-container {
  margin: 10px 0 0 15px;
}

.TableOfContents .toc-checkbox:hover {
  color: #555;
}

.TableOfContents .toc-checkbox:active {
  color: #999;
}

.TableOfContents .toc-zoom-to {
  cursor: pointer;
  margin: 10px 0 0 15px;
  text-decoration: underline;
}

.TableOfContents .toc-zoom-to:hover {
  text-decoration: none;
}

.TableOfContents .toc-legend {
  padding: 10px 10px 10px 15px;
}
/*# sourceMappingURL=TableOfContents.css.map */