// _base.scss

*:focus {
  outline-color: transparent !important;
  outline-style: none !important
}

html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none
}

html,
body,
#map {
  @include size(100%);
  font-family: $font-lato;
  margin: 0;
  padding: 0;
}

select {
  -webkit-appearance: none !important;
     -moz-appearance: none !important;
  outline: none;
  overflow: hidden;
  text-indent: .01px;
  text-overflow: '';

  &::-ms-expand {
    display: none
  }

  &[multiple='multiple'] {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
    color: inherit
  }

  &:not([multiple='multiple']) > option {
    font-size: .875em
  }
}
