<div parseOnLoad='false'>
<div data-dojo-attach-event='onclick: activate'>
  <div>Select a shape then draw on map to add graphic</div>
  <button>Point</button>
  <button>Multipoint</button>
  <button>Line</button>
  <button>Polyline</button>
  <button>Freehand Polyline</button>
  <button>Triangle</button>
  <button>Rectangle</button>
  <button type="button" >Circle</button>
  <button>Ellipse</button>
  <button>Polygon</button>
  <button>Freehand Polygon</button>
</div>
<form>
Fill Color: <input data-dojo-attach-event='onchange: setFillSymbolColor' class="color {hash:true}" value="0D2DFF">
<!--Fill Transparency (0-1): <input data-dojo-attach-event='onchange: setFillTransparency'  value="1">-->
Outline Color: <input data-dojo-attach-event='onchange: setOutLineSymbolColor' class="color {hash:true}" value="000000">
</form>
<button data-dojo-attach-event='onclick: clearMarkups'>Clear MarkUp Graphics</button>
</div>